@import 'base/mixins';
@import 'base/variable';
@import './libs/bootstrap-reboot.min';
@import './libs/fonts';
@import './blocks/menu';

* {
    font-family: "Vollkorn";
}

.container {
  width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.header {
  position: absolute;
  top: 40px;
  width: 100%;
  &__wrapper {
    width: 100%;
    padding: 0 40px 0 45px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  &__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-decoration: none;
    color: $mc;
    &:hover {
      color: red;
      box-shadow: 0px 0px 90px 5px #ffff;
      background: rgba($color: #ffff, $alpha: 0.3);
    }
    img {
      width: 60px;
    }
  }
}

.social {
  display: flex;
  :nth-child(2) {
    margin-left: 20px;
  }
}

.promo {
  min-height: 824px;
  background: url(../../img/bg/head-bg.jpg) center (center / cover) no-repeat;
  padding: 275px 40px 0 45px;
  :nth-child(3) {
    margin-top: 70px;
  } 
  &__title {
    font-size: 90px;
    color: $mc;
    @include title;
  }
  &__subtitle {
      @include title;
      color: $mc;
      font-size: 60px;
  }
}

.catalog {
  min-height: 838px;
  background: #E2E9EC;
  padding: 67px 0 95px 0;
  &__title {
    @include title;
    color: #355463;
    font-size: 40px;
  }
}

.arrow-dark {
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  border-radius: 100%;
  &:hover {
    background-color: rgba($color: #FFFFFF, $alpha: 0.34);
  }
  &_left {
    left: 5px;
  }
  &_right {
    right: 0px;
    .next_dark {
      transform: scale(-1);
    }
  }
}

.carousel {
  overflow: hidden;
  position: relative;
  margin-top: 45px;
  display: flex;
  padding-left: 40px;
  &__item {
    height: 573px;
    width: 363px;
    margin-right: 20px;
  }
  &-preview {
    position: relative;
    &__img {
      border-radius: 15px 15px 0px 0px;
      width: 363px;
      height: 340px;
    }
    &__arrow {
      display: flex;
      align-items: center;
      width: 46px;
      height: 93px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:hover {
        background: rgba($color: #FFFFFF, $alpha: 0.4);
      }
      &_left {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        padding-left: 3px;
      }
      &_right {
        right: 0;
        justify-content: flex-end;
        padding-right: 3px;
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
        .next_white {
          transform: scale(-1);
        }
      }
    } 
  }
  &-info {
    padding: 21px 30px 10px 16px;
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: #011313;
    }
    &__engine {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }
    &__year {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    &__items {
      display: flex;
      margin-top: 22px;
      justify-content: space-between;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: 23px;
      height: 23px;
    }
    &__text {
      color: #557180;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.journey {
  min-height: 743px;
  background: #E2E9EC;
  padding: 70px 0 80px 0;
  &__title {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 212px;
  }
  &__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 335px;
    width: 168px;
    height: 42px;
    img {
      margin-left: 10px;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  &__item {
    margin: 0 25px;
    
  }
  &__preview {
    width: 687px;
    height: 593px;
    border-radius: 25px;
  }
}