.service-list {
  min-height: 1624px;
  background: #E2E9EC;
  padding: 50px 0 35px 0;
  &__items {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    width: 666px;
    height: 483px;
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px;
    .button {
      position: absolute;
      top: 321px;
      left: 265px;
      width: 137px;
      height: 34px;
    }
    .title {
      position: absolute;
      top: 108px;
      left: 82px;
      font-size: 84px;
    }
  }
  &__preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .pagination {
    display: none;
  }
}