@import '../base/mixins';
@import '../base/variable';
@import '../libs/bootstrap-reboot.min';
@import '..//libs/fonts';
@import '../blocks/promo';
@import '../blocks/header';
@import '../blocks/button';
@import '../blocks/footer';
@import '../blocks/pagination';
@import './404';
@import './galery';
@import './contacts';
@import './questions';
@import './services';
@import './abous-us';
@import './catalog';
@import './index';
@import '../pages/adaptive/media';


* {
    font-family: "Vollkorn";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
}


.title {
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  color: $main-color;
  &_left {
    text-align: start;
  }
}

.heading-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $main-color;
}

.heading-3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: $main-color;
}

.heading-4 {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $main-color;
}

.paragraph {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: $main-color;
  &_left {
    padding-right: 695px;
    margin-top: 18px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
