.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  &__link {
    text-decoration: none;
    font-weight: 800;
    font-size: 15px;
    line-height: 15px;
    color: #000503;
    &:hover {
      color: #000503;
    }
  }
  &__arrow {
    margin-left: 10px;
  }
  &_without-border {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 28px;
    width: 200px;
    height: 38px;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 140px;
      height: 1px;
      background-color: #000000;
    }
  }
}