.header {
  min-height: 824px;
  background: url(../../img/bg/head-bg.jpg) center (center / cover) no-repeat;
  padding: 44px 40px 264px 45px;
  &__promo {
    margin-top: 198px;
    :nth-child(3) {
      margin-top: 70px;
    } 
  }
  &__title {
    font-size: 90px;
    color: $mc;
    @include title;
  }
  &__subtitle {
      @include title;
      color: $mc;
      font-size: 60px;
  }
}
