* {
  font-family: "Vollkorn";
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

a {
text-decoration: none;
&:hover {
  color: red;
  text-shadow: rgb(0, 0, 0) 0px 0px 4px;;
}
}

.container {
max-width: 1440px;
display: block;
margin: 0 auto;
position: relative;
}


.title {
font-size: 90px;
font-weight: 700;
line-height: 90px;
color: $main-color;
  &_left {
    text-align: start;
  }
  &_center {
    text-align: center;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $main-color;
}

.headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: $main-color;
}

.paragraph {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: $main-color;
}

.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  background-color: transparent;
  border: none;
  cursor: pointer;
}