.menu {
  position: relative;
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 34px;
    @include menu;
  }
  &__button {
    font-weight: 800;
    font-size: 15px;
    line-height: 34px;
    color: $mc; 
  }
  &__hamburger {
    margin: 2px 7px 0 0;
    width: 15px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #FFFFFF;
      margin-bottom: 2px;
    }
  }
  &:hover {
    cursor: pointer;
    background: rgba($color: #ffff, $alpha: 0.4);
  }
  &__wrapper { 
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 616px;
    height: 70px;
    padding: 0 50px 0 50px;
    @include menu;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
  }
  &__item {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 70px;
    color: $mc;
    margin: 0;
  }
}
